#add{
    /* Rectangle 40 */

position: absolute;
width: 299px;
height: 37px;
left: 323px;
top: 71px;

background: #7688E7;
border-radius: 18px;

}

#search{
    position: absolute;
width: 299px;
height: 37px;
left: 723px;
top: 71px;

background: #005CB9;
border-radius: 18px;
}